@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! Beatriz!</h1>

<h3> Bem vindo ao meu primeiro App Web com c# Blazor do 3ºrão - B</h3>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
